.git
.gitignore
.env
.env.production
.env.backup
/node_modules
/vendor
/public/build
/storage/*.key
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/pail
/tests
/.phpunit.cache
deploy/ayyanet-database.sqlite
deploy/*.sqlite
/database/*.sqlite
*.log
